<div class="buffer-bottom comment">
  <div class="comment-body">
    <p><%= comment.body %></p>
  </div>
  <div class="comment-info">
    <% if comment.user.present? %>
      <%= render comment.user %>
    <% else %>
      <em><strong><%= comment.user_name %></strong></em>
    <% end %>
    <span>
      <em><%= l comment.created_at, format: :short %></em>
      <% if current_user_can_edit?(comment) %>
        <%= link_to(
              fa_icon('trash'), event_comment_path(comment.event, comment),
              method: :delete, data: {
              title: t('.title'),
              confirm: t('.destroy_confirm'),
              commit: t('.commit'),
              cancel: t('.cancel')
            }
            ) %>
      <% end %>
        </span>
  </div>
</div>
