<h1><%= t 'views.events.password_form_header' %>></h1>

<%= form_tag('', method: 'post') do |f| %>
  <div class="form-group">
    <%= label t('views.events.pincode'), :pincode %>
    <%= text_field_tag :pincode, params[:pincode], class: 'form-control' %>
  </div>

  <div class="action">
    <%= submit_tag t('views.come_in_link') %>
  </div>
<% end %>

<%= link_to t('views.main'), events_path %>
