<p><%= t '.greeting' %> <%= @resource.email %>!</p>

<p><%= t '.check_link' %></p>

<p><%= link_to t '.change_password_link', edit_password_url(@resource, reset_password_token: @token) %></p>

<p><%= t '.except' %></p>
<p><%= t '.have_to_change' %></p>
